:root {
  --base-unit: 16px;
  --text-color: #2E3440;
  --link-color: #4C566A;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* global styles */
body {
  background: oldlace;
  color: var(--text-color);
}

a:link,
a:visited {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.container {
  background: honeydew;
  padding: calc(var(--base-unit) * 2);
  max-width: 1312px;
  margin: auto;
}

.flex-parent {
  background: mistyrose;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.flex-child {
  background: lavenderblush;
  width: 100%;
  padding: var(--base-unit);
}

/* mobile - header styles */
.navbar {
  padding: calc(var(--base-unit) * 2);
  background: aliceblue;
}

.nav-mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: calc(var(--base-unit) * 2);
}

.home {
  margin-bottom: 0;
  color: var(--link-color);
}

.nav-mobile a:hover {
  text-decoration: none;
}

#hamburger {
  width: calc(var(--base-unit) * 2);
  height: calc(var(--base-unit) * 2);
  background: brown;
}

.menu {
  /* display: none; */
  margin: 0;
  color: var(--link-color);
}

.navbar li {
  list-style: none;
  margin-bottom: var(--base-unit);
}

.dropdown span {
  display: none;
}

.dropdown ul {
  margin: 0;
}

.work-menu li:last-of-type {
  margin-bottom: 0;
}

.dash {
  display: none;
}

.social-media {
  display: inline-block;
  background: lightgreen;
  margin-right: var(--base-unit);
}

.active {
  display: block;
}

@media only screen and (min-width: 768px) {
  /* desktop - global styles */
  .flex-child {
    width: 50%;
  }

  /* desktop - header styles */
  #hamburger {
    display: none;
  }

  .menu {
    display: block;
  }

  .nav-mobile {
    margin-bottom: 0;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .navbar li {
    display: inline-block;
    margin-left: var(--base-unit);
    margin-bottom: 0;
  }

  .work-menu {
    display: none;
  }

  .dropdown span {
    display: inline-block;
    font-weight: normal;
    margin-bottom: 0;
  }

  .dropdown:hover span {
    font-weight: bold;
  }

  .dropdown:hover .work-menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
    background: white;
    z-index: 1;
  }

  .work-menu li {
    margin: 0;
    padding: var(--base-unit) var(--base-unit) 0;
  }

  .work-menu li:last-of-type {
    padding-bottom: var(--base-unit);
  }

  .dash {
    display: inline-block;
  }

  .social-media {
    margin-right: 0;
  }
}

/* @media only screen and (min-width: 1056px) {
} */